<div class="video-player-page">
	<div class="top-video content yp_trans">
		<div class="pt_featured_videos">
				<div class="row">
				{{FEATURED_LIST}}
			</div>
		</div>
	</div>

	<hr class="dark_hr">
	
	<div class="hide_trend">
		<div class="content pt_shadow yp_trans">
			<div class="home-page-categories">
				<div class="title">
					<h4>
						<div style="background:#2196F3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg></div> {{LANG trending}} 
						<span class="view_more_link"><a href="{{LINK videos/trending}}" data-load="?link1=videos&page=trending">{{LANG explore_more}}</a></span>
					</h4>
				</div>
				<div class="videos">
					<div class="row pt_four_videos_trend cus_slider">{{TRENDING_LIST}}</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<hr class="dark_hr">
	</div>
		
	<div class="hide_top">
		<div class="content pt_shadow yp_trans">
			<div class="home-page-categories">
				<div class="title">
					<h4>
						<div style="background:#673ab7"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg></div> {{LANG top_videos}} 
						<span class="view_more_link"><a href="{{LINK videos/top}}" data-load="?link1=videos&page=top">{{LANG explore_more}}</a></span>
					</h4>
				</div>
				<div class="videos">
					<div class="row pt_four_videos_top cus_slider">{{TOP_LIST}}</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<hr class="dark_hr">
	</div>

    {{SUBSC_HTML}}

	<div class="content pt_shadow yp_trans">
		<div class="home-page-categories">
			<div class="title">
				<h4>
					<div style="background:#e91e63"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg></div> {{LANG latest_videos}} 
					<span class="view_more_link"><a href="{{LINK videos/latest}}" data-load="?link1=videos&page=latest">{{LANG explore_more}}</a></span>
				</h4>
			</div>
			<div class="videos">
				<div class="row cus_slider">{{LATEST_LIST}}</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	<hr class="dark_hr">

    {{HOME_PAGE_VIDEOS}}
</div>
<script type="text/javascript" src="{{CONFIG theme_url}}/js/jquery.fCarousel.min.js"></script>
<script>

$(document).ready(function(){
	if( !$.trim( $('.pt_four_videos_trend').html() ).length ) {
		$('.hide_trend').html("");
	};
	if( !$.trim( $('.pt_four_videos_top').html() ).length ) {
		$('.hide_top').html("");
	};
	var carousel1 = $('.pt_featured_videos .row');
	carousel1.fCarousel({
		'separation'	:	450,
		'distance'		:	400,
		'opacity'		:	0.5,
		'keyboardNav'	:	false,
		'arrows'		:	true,
		'arrowsClass'	:	['f_arrow','',''],
		'responsive'	:	{
								0		:	{ 'separation' : 100, 'opacity' : 0, 'arrows' : false },
								480		:	{ 'separation' : 200, 'distance' : 500, 'opacity' : 0.2, 'arrows' : true },
								768		:	{ 'separation' : 300, 'opacity' : 0.3 },
								1024	:	{ 'separation' : 450, 'distance' : 400, 'opacity' : 0.5 }
							},
		'onChange'		:	function(carousel){
								
							}
	});

  $('.cus_slider').slick({
  infinite: false,
  slidesToShow: 5,
  <?php if ($pt->language_type == 'rtl') { ?>rtl: true,<?php } ?>
  slidesToScroll: 2,
  responsive: [
	{
      breakpoint: 1360,
      settings: {
        slidesToShow: 4
      }
    },
	{
      breakpoint: 1251,
      settings: {
        slidesToShow: 5
      }
    },
	{
      breakpoint: 1127,
      settings: {
        slidesToShow: 4
      }
    },
    {
      breakpoint: 992,
      settings: {
        slidesToShow: 4
      }
    },
	{
      breakpoint: 910,
      settings: {
        slidesToShow: 3
      }
    },
    {
      breakpoint: 705,
      settings: {
        slidesToShow: 2
      }
    },
	{
      breakpoint: 530,
      settings: {
        arrows: false,
		slidesToShow: 2,
		waitForAnimate: false,
      }
    },
    {
      breakpoint: 485,
      settings: {
        arrows: false,
		slidesToShow: 1,
		slidesToScroll: 1,
		waitForAnimate: false,
      }
    }
  ]
  });
});
</script>